alpha/Library
alpha/Logs
alpha/Publish
alpha/Temp
alpha/UserSettings
alpha/Tool
.vsconfig
alpha/Assembly-CSharp-Editor.csproj
alpha/Assembly-CSharp.csproj
alpha/obj
alpha/.vs
*.csproj
alpha/.idea/.idea.alpha/.idea/encodings.xml
alpha/.idea/.idea.alpha/.idea/indexLayout.xml
alpha/.idea/.idea.alpha/.idea/projectSettingsUpdater.xml
alpha/.idea/.idea.alpha/.idea/vcs.xml
alpha/.idea/.idea.alpha/.idea/workspace.xml
alpha/.idea/.idea.alpha/.idea/.gitignore
alpha/alpha.sln
alpha/alpha.sln
alpha/.idea/modules.xml
alpha/.idea/vcs.xml
alpha/Build
alpha/.idea
alpha/alpha.sln
